body {
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  background-color: #fff;
}

.nav-link {
  background-color: #fff;
  color: #000;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-header {
  background-color: #fff;
  border: none;
}

.btn-primary {
  background-color: #ef866b;
  border: none;
}

.btn-primary:hover {
  background-color: #f7b46b;
}

